<html xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
<body>
<title>addmarathon</title>
<h1>Create new marathon</h1>

 <form action="#" th:action="@{/manager/addmarathon/__${id_m}__}" th:object="${marathon}" method="post">
  <p>Input marathon name here</p> <input type="text" name="Name" th:field="*{name}" placeholder="Name"><br>
  <p>Input marathon place here</p> <input type="text" name="Place" th:field="*{place}" placeholder="Place"><br>
  <p>Input marathon date</p> <input type="text" name="Date" th:field="*{date}" placeholder="Date"><br>
  <input type="submit" value="Submit">
</form>


</body>

</html>