<html xmlns:th="http://www.thymeleaf.org">
<body>


<table>
<tr th:each="marathon : ${marathonlist}">
	<td th:text="${marathon.getName()}"> </td>
	<td th:text="${marathon.getPlace()}"> </td>
	<td th:text="${marathon.getDate()}"> </td>



</tr>

</table>
	<form action="#" th:action="@{/admin/deletemarathon}"  method="get">
	<input type="submit" value="delete Marathons">
	</form>
	<form action="#" th:action="@{/admin/adminmain}"  method="get">
	<input type="submit" value="BackToMain">
	</form>
	

</body>
</html>