<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
<body>
<!-- <p th:text="${marathon.toString()}"> -->

<h1>Choose distances to add</h1>
<table>
<tr th:object="${marathon}">
	<td th:text="${marathon.getName()}"> </td>
	<td th:text="${marathon.getPlace()}"> </td>
	<td th:text="${marathon.getDate()}"> </td>
	<td th:text="${marathon.getId()}"> </td>
	
</table>

<form action="#" th:action="@{/runner/areamarathon/__${id_r}__/__${id_mar}__}" th:object="${group}" method="post">
	<ul>
		<li th:each="gr : ${grouplist}">
			<input type ="checkbox" name="Distance" th:value="${distance}"><!--  th:field="*{distance}" --> 
			<label  
					th:text="${gr.distance+' km'}">
					 <!-- th:for="${#ids.prev('group')}"  -->
			</label>
			
			<input type = "submit" name="action" th:value="${gr.distance}">
		</li>
	</ul>
 <!-- <p>Select all that apply</p> <input type="text" name="Name" th:field="*{name}" placeholder="Name"><br>  -->
 </form>
</body>
<html>