<html xmlns:th="http://www.thymeleaf.org">

<body>
<h1>Create new marathon</h1>
 <form action="#" th:action="@{/marathon/addmarathon}" th:object="${marathon}" method="post">
  <p>Input marathon place here</p> <input type="text" name="Name" th:field="*{name}" placeholder="Name"><br>
  <p>Input marathon place here</p> <input type="text" name="Place" th:field="*{place}" placeholder="Place"><br>
  <p>Input marathon date</p> <input type="date" name="Date" th:field="*{date}" placeholder="Date"><br>
  <input type="submit" value="Submit">
</form>

<h1>Update an existing marathon</h1>
<form action="#" th:action="@{/marathon/updatemarathon}" th:object="${marathon}" method="post">
	<p>Input marathon Id here</p> <input type="text" name="Id" th:field="*{id}" placeholder="Id"><br>
	  <input type="submit" value="Submit">
</form>

<h1>View an existing marathon</h1>
<form action="#" th:action="@{/marathon/marathonview}" th:object="${marathon}" method="post">
	<p>Input marathon Id here</p> <input type="text" name="Id" th:field="*{id}" placeholder="Id"><br>
	  <input type="submit" value="Submit">
</form>

</body>

</html>
