	<html xmlns:th="http://www.thymeleaf.org">
<body>
	
	
	
	<form action="#" th:action="@{/admin/adminmarathonview}"  method="get">
	<input type="submit" value="Marathons ">
	</form>
	
	<form action="#" th:action="@{/admin/createadmin}"  method="get">
	<input type="submit" value="Create Admin">
	</form>
	<form action="#" th:action="@{/admin/createManager}"  method="get">
	<input type="submit" value="Create manager">
	</form>
	<form action="#" th:action="@{/admin/createRunner}"  method="get">
	<input type="submit" value="create runner">
	</form>	
	<form action="#" th:action="@{/admin/adminview}"  method="get">
	<input type="submit" value="Edit admin">
	</form>
	<form action="#" th:action="@{/admin/adminmanagerview}"  method="get">
	<input type="submit" value="Edit manager">
	</form>
	<form action="#" th:action="@{/admin/adminrunnerview}"  method="get">
	<input type="submit" value="Edit runner">
	</form>
	
	<a href="javascript: document.logoutForm.submit()" > Logout </a>

	<form name="logoutForm" th:action="@{/admin/adminlogout}" method="get" th:hidden="true">
      <input hidden type="submit" value="Logout"/>
	</form> 
	
	
	</body>
</html>