<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Admin authorize section </title>
    </head>
    <body> 
        <form action="#" th:action="@{/admin/authorizeAdmin}" th:object="${administrator}" method="post">
        <table>
           <tr>
           	<td><input type="text" th:field="*{email}" placeholder="Email"></td>
           	<td th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</td>
           </tr>
           <tr>
           	<td><input type="password" th:field="*{password}" placeholder="password"></td>
           	<td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</td>
           </tr>
           </table>
            
            <div><input type="submit" value="Sign In"/></div>
        </form>
    </body>
</html>