<html xmlns:th="http://www.thymeleaf.org">
<body>


<table>
<tr th:each="ma : ${mar}">
	<td th:text="${ma.getName()}"> </td>
	<td th:text="${ma.getPlace()}"> </td>
	<td th:text="${ma.getDate()}"> </td>
	<td th:text="${ma.getId()}"></td>

</tr>


</table>


<form action="#" th:action="@{/admin/deletemarathon}"  th:object="${marathon}"method="post">
	<p>Input marathon Id here</p> <input type="text" name="Id" th:field="*{id}" placeholder="Id"><br>
	  <input type="submit" value="Submit">
</form>
	</form>
		<form action="#" th:action="@{/admin/adminmain}"  method="get">
	<input type="submit" value="BackToMain">
	</form>
</body>
</html>